# domain 用於沒打路徑自動導向
DOMAIN=String(example.com)
PROXYPORT=Number(443)
PROTOCOL=String(https)

# log 紀錄路徑從 html 往下
LOGFILENAME=logs

# DB URI
URI=String

# 服務(docker 內開啟 port)
PORT=Number(443)

CPS_2_SID_TOKEN=token
CPS_2_API_DOMAINNAME=api.example.com

# cps collection 名稱
CPSDBNAME=CPS_DB_NAME
# 月票 collection 名稱
TOKENDBNAME=月票_DB_NAME